/* src/components/TaskList.css */

.todo-list-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #cf6161; /* Set background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-item input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
  }
  
  .todo-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px; /* Add border radius */
  }
  
  .todo-item button:hover {
    background-color: #45a049;
  }
  
  .add-task-form {
    margin-bottom: 20px;
  }
  
  .add-task-form input[type="text"] {
    width: calc(100% - 95px);
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
  }
  
  .add-task-form button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px; /* Add border radius */
  }
  
  .add-task-form button:hover {
    background-color: #005f7f;
  }
  